//light-theme.scss
$light-primary-bg-main: #e2e8f0;
$light-primary-bg-sidebar: #fff;
$light-primary-text-sidebar: #6d7c92;
$light-primary-border-sidebar: #eef0f6;
$light-primary-activeTabBg-sidebar: #f0f2ff;
$light-primary-activeTabText-sidebar: #0023c4;
$light-primary-linkHover-sidebar: #f1f5f9;
$light-primary-linkText-sidebar: #334155;

// person
$light-primary--personBg: #ff75f6;

//dark-theme.scss
$dark-primary-bg-main: #1e293b;
$dark-primary-bg-sidebar: #000;
$dark-primary-text-sidebar: #8b9aad;
$dark-primary-border-sidebar: #292f38;
$dark-primary-activeTabBg-sidebar: #000c45;
$dark-primary-activeTabText-sidebar: #c9d3df;
$dark-primary-linkHover-sidebar: #0f172a;
$dark-primary-linkText-sidebar: #cbd5e1;

// person
$dark-primary--personBg: #660660;

// z-index
$z-index100: 100;


// 
